.panel {
  @extend .card;
  @include box-shadow(0 0 4px 0 rgba(0, 0, 0, 0.04));
  border-width: 0;

  .panel-header {
    @extend .bg-white, .text-muted, .border-0, .d-flex;
    @include font-size(0.875rem);
    padding: 0.75rem;

    span {
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 1px;
      border-bottom: 1px dotted #ccc;
    }

    .panel-menu {
      @extend .dropdown, .ml-auto, .align-items-center;

      a.dropdown-toggle {
        @extend .btn;
        padding: 0 0.5rem;
        cursor: pointer;
        color: rgba(0, 0, 0, 0.5);

        &::after {
          display: none;
        }
      }
      svg.fa-ellipsis-v {
        @extend .text-muted;
      }
    }
  }
}

.panel-body table,
.swal-datatable {
  @extend .table, .table-sm, .table-striped, .table-hover;
  @include font-size(0.875rem, true);
  padding: 0.75rem 0;
  white-space: nowrap;

  thead {
    font-family: $font-stack;
    border-bottom: 2px solid #ddd;
    color: rgba(0, 0, 0, 0.5);
    @include font-size(0.825rem, true);
  }
  tbody {
    font-family: $data-font-stack;
  }

  thead th {
    padding: 0.75rem 1.5rem 0.75rem 0.25rem;
    //width: inherit !important;
  }

  td,
  th {
    vertical-align: middle !important;
    text-align: left;
  }

  td.details-control {
    cursor: pointer;
  }

  tr[role="row"] td:first-child {
    padding-left: 1.5rem !important;
  }
}

/* DataTables extras (info, paging, etc) */
.dataTables_info {
  @extend .text-muted;
  @include font-size(0.875rem, true);
  padding-top: 0 !important;
}

.dataTables_length,
.dataTables_info {
  @include font-size(0.875rem, true);
  text-align: left !important;
}
.dataTables_filter,
.dataTables_paginate {
  @include font-size(0.875rem, true);
  text-align: right !important;
}

/* Sorting arrows - replacing the default arrows with these. */
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
  background-repeat: no-repeat;
  background-position: center left;
  padding-left: 20px !important;
  padding-right: 0 !important;
  text-align: left;
  white-space: nowrap;

  &:before,
  &:after {
    display: none;
  }
}

table.dataTable thead .sorting {
  background-image: url(../assets/images/sort_both.png);
}

table.dataTable thead .sorting_asc {
  background-image: url(../assets/images/sort_asc.png);
}

table.dataTable thead .sorting_desc {
  background-image: url(../assets/images/sort_desc.png);
}
