.panel {
  @extend .card;
  @include box-shadow(0 0 4px 0 rgba(0, 0, 0, 0.04));
  border-width: 0;

  .panel-header {
    @extend .bg-white, .text-muted, .py-3, .mx-4, .border-0, .d-flex;
    @include font-size(0.875rem);

    span {
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 1px;
      border-bottom: 1px dotted #ccc;
    }

    .panel-menu {
      @extend .dropdown, .ml-auto, .align-items-center;

      a.dropdown-toggle {
        @extend .btn;
        padding: 0 0.5rem;
        cursor: pointer;
        color: rgba(0, 0, 0, 0.5);

        &::after {
          display: none;
        }
      }
      svg.fa-ellipsis-v {
        @extend .text-muted;
      }
    }
  }

  .panel-body {
    @extend .card-body, .p-0;

    table {
      @extend .table, .table-sm, .table-striped, .table-hover;
      @include font-size(0.875rem);
      border-top: hidden;

      td.details-control {
        cursor: pointer;
      }

      td,
      th {
        vertical-align: inherit;
      }

      &.dataTable thead > tr > th.sorting_asc,
      &.dataTable thead > tr > th.sorting_desc {
        padding-right: 30px !important;
      }

      &.dataTable thead > tr > th {
        padding: 0.75rem 1.5rem 0.75rem 0.25rem;
      }

      td:first-child,
      th:first-child {
        padding-left: 1.5rem !important;
      }
      td:last-child,
      th:last-child {
        padding-right: 1.5rem !important;
      }

      thead {
        font-family: $font-stack;
        border-bottom: 2px solid #ddd;
        color: rgba(0, 0, 0, 0.5);
        @include font-size(0.825rem);
      }
      tbody {
        font-family: $data-font-stack;
      }
    }
  }
}

.dataTables_info {
  @extend .text-muted;
  padding-top: 0 !important;
  @include font-size(0.875rem);
}

.dataTables_length,
.dataTables_info {
  @include font-size(0.875rem);
  text-align: left !important;
}
.dataTables_filter,
.dataTables_paginate {
  text-align: right !important;
  @include font-size(0.875rem);
}
