<div id="AltBar">
  <nav class="nav nav-underline">
    <a class="nav-link active" href="#!" data-i18n="alt_bar.general"></a>
    <a class="nav-link" href="#!" data-i18n="alt_bar.expenses"></a>
    <a class="nav-link" href="#!" data-i18n="alt_bar.billing"></a>
    <a class="nav-link" href="#!" data-i18n="alt_bar.maintenance"></a>
    <a class="nav-link" href="#!" data-i18n="alt_bar.fuel"></a>
    <a class="nav-link" href="#!" data-i18n="alt_bar.licensing"></a>
    <a class="nav-link" href="#!" data-i18n="alt_bar.accident"></a>
    <a class="nav-link" href="#!" data-i18n="alt_bar.rentals"></a>
    <a class="nav-link" href="#!" data-i18n="alt_bar.inspections"></a>
    <a class="nav-link" href="#!" data-i18n="alt_bar.drivers"></a>
    <a class="nav-link" href="#!" data-i18n="alt_bar.documents"></a>
    <a class="nav-link" href="#!" data-i18n="alt_bar.odometers"></a>
    <a class="nav-link" href="#!" data-i18n="alt_bar.tolls"></a>
    <a class="nav-link" href="#!" data-i18n="alt_bar.transports"></a>
    <a class="nav-link" href="#!" data-i18n="alt_bar.violations"></a>
    <a class="nav-link" href="#!" data-i18n="alt_bar.evoucher"></a>
    <a class="nav-link" href="#!" data-i18n="alt_bar.saferoads"></a>
  </nav>
</div>
