<div id="AltBar">
  <nav class="nav nav-underline">
    <a class="nav-link active" href="#!">General</a>
    <a class="nav-link" href="#!">Expense Summary</a>
    <a class="nav-link" href="#!">Billing History</a>
    <a class="nav-link" href="#!">Maintenance</a>
    <a class="nav-link" href="#!">Fuel</a>
    <a class="nav-link" href="#!">Licensing</a>
    <a class="nav-link" href="#!">Accident</a>
    <a class="nav-link" href="#!">Rental History</a>
    <a class="nav-link" href="#!">Inspections</a>
    <a class="nav-link" href="#!">Drivers</a>
    <a class="nav-link" href="#!">Documents</a>
    <a class="nav-link" href="#!">Reported Odometers</a>
    <a class="nav-link" href="#!">Toll Transactions</a>
    <a class="nav-link" href="#!">Transport/Storage</a>
    <a class="nav-link" href="#!">Violations</a>
    <a class="nav-link" href="#!">eVoucher</a>
    <a class="nav-link" href="#!">SafeRoads</a>
  </nav>
</div>
