<section class="row">
  ${require("./vehicle-dashboard/vehicle-summary.html")}
  ${require("./vehicle-dashboard/driver-summary.html")}
</section>
<section class="row py-4">
  ${require("./vehicle-dashboard/fuel-tiles.html")}
</section>
<section class="row py-4">
  ${require("./vehicle-dashboard/fuel-summary.html")}
</section>
<section class="row py-4">
  ${require("./vehicle-dashboard/maintenance-summary.html")}
</section>
<section class="row py-4">
  ${require("./vehicle-dashboard/toll-summary.html")}
</section>
<section class="row py-4">
  ${require("./vehicle-dashboard/billing-summary.html")}
  ${require("./vehicle-dashboard/licensing-summary.html")}
</section>
<section class="row py-4">
  ${require("./vehicle-dashboard/violations-summary.html")}
  ${require("./vehicle-dashboard/inspections-summary.html")}
</section>
