<header id="VehicleDashboardHeader">
  <h1 data-i18n="vehicle_dashboard.title" class="display-4">
    Vehicle Dashboard
  </h1>
  <div id="VehicleDashboardSearch"></div>
</header>
<!-- <section id="LicensingTiles" class="row" style="min-height:100px;"></section> -->
<section
  class="row py-4"
  data-aos="zoom-in-down"
  data-aos-easing="ease-in-cubic"
  data-aos-delay="0"
  data-aos-offset="0"
>
  ${require("./vehicle-dashboard/vehicle-summary.html")}
</section>
<section id="VehicleTiles" class="row" style="min-height:100px;"></section>
<section
  class="row"
  data-aos="fade-in"
  data-aos-easing="ease-in-cubic"
  data-aos-delay="450"
  data-aos-offset="0"
>
  ${require("./vehicle-dashboard/driver-summary.html")}
</section>
<section id="FuelTiles" class="row" style="min-height:100px;"></section>
<section class="row py-4">
  ${require("./vehicle-dashboard/fuel-history.html")}
</section>
<section class="row py-4">
  ${require("./vehicle-dashboard/maintenance-history.html")}
</section>
<section class="row py-4">
  ${require("./vehicle-dashboard/toll-history.html")}
</section>
<section class="row py-4">
  ${require("./vehicle-dashboard/billing-history.html")}
  ${require("./vehicle-dashboard/licensing-history.html")}
</section>
<section class="row py-4">
  ${require("./vehicle-dashboard/violations-history.html")}
  ${require("./vehicle-dashboard/inspections-history.html")}
</section>
