<div class="col-xl-6">
  <div class="panel">
    <div class="panel-header">
      <span>Billing History</span>
      <div class="panel-menu">
        <a
          class="dropdown-toggle"
          aria-haspopup="true"
          aria-expanded="false"
          data-toggle="dropdown"
        >
          <i class="fas fa-ellipsis-v"></i>
        </a>
        <div
          class="dropdown-menu dropdown-menu-right"
          role="menu"
          aria-hidden="true"
          tabindex="-1"
        >
          <button
            type="button"
            tabindex="0"
            role="menuitem"
            class="dropdown-item"
          >
            All Billing History
          </button>
          <button
            type="button"
            tabindex="0"
            role="menuitem"
            class="dropdown-item"
          >
            Download CSV
          </button>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <th>Invoice</th>
            <th>Bill Date</th>
            <th>Bill For Date</th>
            <th>Description</th>
            <th>Amount</th>
          </thead>
          <tbody>
            <tr>
              <td>AZ7668</td>
              <td>11/2018</td>
              <td>11/2018</td>
              <td>FMS Billing</td>
              <td>$10.59</td>
            </tr>
            <tr>
              <td>AZ5519</td>
              <td>11/2018</td>
              <td>10/2018</td>
              <td>Rental Billing</td>
              <td>($62.28)</td>
            </tr>
            <tr>
              <td>AZ5519</td>
              <td>11/2018</td>
              <td>10/2018</td>
              <td>Rental Billing</td>
              <td>($12.45)</td>
            </tr>
            <tr>
              <td>AZ3386</td>
              <td>10/2018</td>
              <td>09/2018</td>
              <td>FMS Billing</td>
              <td>$341.84</td>
            </tr>
            <tr>
              <td>AZ1196</td>
              <td>09/2018</td>
              <td>09/2018</td>
              <td>Rental Billing</td>
              <td>($62.28)</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
