<div
  class="col-xl-12"
  data-aos="fade-up"
  data-aos-easing="ease-in-cubic"
  data-aos-delay="250"
>
  <div class="panel">
    <div class="panel-header">
      <span data-i18n="fuel_history.title">Fuel Purchases</span>
      <div class="panel-menu">
        <a
          class="dropdown-toggle"
          aria-haspopup="true"
          aria-expanded="false"
          data-toggle="dropdown"
        >
          <i class="fas fa-ellipsis-v"></i>
        </a>
        <div
          class="dropdown-menu dropdown-menu-right"
          role="menu"
          aria-hidden="true"
          tabindex="-1"
        >
          <button
            type="button"
            tabindex="0"
            role="menuitem"
            class="dropdown-item"
          >
            All Fuel History
          </button>
          <button
            type="button"
            tabindex="0"
            role="menuitem"
            class="dropdown-item"
          >
            Download CSV
          </button>
          <div class="dropdown-divider"></div>
          <button
            type="button"
            tabindex="0"
            role="menuitem"
            class="dropdown-item"
          >
            Manage Fuel Cards
          </button>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <table class="table" id="FuelHistory" style="width:100%;">
        <thead>
          <tr>
            <th data-i18n="fuel_history.date">Date</th>
            <th data-i18n="fuel_history.odometer">Odometer</th>
            <th data-i18n="fuel_history.driver">Driver</th>
            <th data-i18n="fuel_history.merchant_address">Merchant Address</th>
            <th data-i18n="fuel_history.type">Type</th>
            <th data-i18n="fuel_history.quantity">Quantity</th>
            <th data-i18n="fuel_history.unit_cost">Unit Cost</th>
            <th data-i18n="fuel_history.amount">Amount</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
</div>
