<header class="col-12 text-muted">FUEL</header>
<div class="col-xl-3 col-md-6">
  <div class="tile" style="display:none;">
    <div class="tile-dataviz">
      <i class="fas fa-gas-pump fa-fw fa-3x"></i>
    </div>
    <div class="tile-info">
      <div class="tile-title">Total Gallons</div>
      <div
        class="tile-subtitle countmeup"
        id="gallonCounter"
        data-countup-start-val="0"
        data-countup-decimal-places="2"
        data-countup-duration="1"
        data-countup-end-val="983.20"
      >
        983.20
      </div>
    </div>
  </div>
</div>
<div class="col-xl-3 col-md-6">
  <div class="tile" style="display:none;">
    <div class="tile-dataviz">
      <i class="fas fa-battery-three-quarters fa-fw fa-3x"></i>
    </div>
    <div class="tile-info">
      <div class="tile-title">Current MPG</div>
      <div
        class="tile-subtitle countmeup"
        id="mpgCounter"
        data-countup-start-val="0"
        data-countup-decimal-places="2"
        data-countup-duration="1.5"
        data-countup-end-val="18.36"
      >
        18.36
      </div>
    </div>
  </div>
</div>
<div class="col-xl-3 col-md-6">
  <div class="tile" style="display:none;">
    <div class="tile-dataviz">
      <i class="fas fa-tachometer-alt fa-fw fa-3x"></i>
    </div>
    <div class="tile-info">
      <div class="tile-title">Current Odometer</div>
      <div
        class="tile-subtitle countmeup"
        id="odometerCounter"
        data-countup-start-val="0"
        data-countup-decimal-places="0"
        data-countup-duration="2"
        data-countup-end-val="18118"
      >
        18,118
      </div>
    </div>
  </div>
</div>
<div class="col-xl-3 col-md-6">
  <div class="tile" style="display:none;">
    <div class="tile-dataviz">
      <i class="fas fa-dollar-sign fa-fw fa-3x"></i>
    </div>
    <div class="tile-info">
      <div class="tile-title">Total Cost</div>
      <div
        class="tile-subtitle countmeup"
        id="fuelCostCounter"
        data-countup-start-val="0"
        data-countup-decimal-places="2"
        data-countup-duration="2.5"
        data-countup-prefix="$"
        data-countup-end-val="2527.85"
      >
        $2,527.85
      </div>
    </div>
  </div>
</div>
<!-- <div class="col-12 my-2 text-right">
  <a href="#" class="text-decoration-none">Fuel Purchase History &rarr;</a>
</div> -->
