<div class="col-xl-6" data-aos="fade-up" data-aos-delay="200">
  <div class="panel">
    <div class="panel-header">
      <span>Inspection History</span>
      <div class="panel-menu"></div>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <th>Date</th>
            <th>Comments</th>
            <th>View</th>
          </thead>
          <tbody>
            <tr>
              <td>04/19/2017</td>
              <td>Attached is my April inspection report</td>
              <td>
                <a href="#!" class="text-decoration-none"
                  ><i class="fas fa-fw fa-camera"></i
                ></a>
              </td>
            </tr>
            <tr>
              <td>02/21/2017</td>
              <td>original test date Android</td>
              <td>
                <a href="#!" class="text-decoration-none"
                  ><i class="fas fa-fw fa-camera"></i
                ></a>
              </td>
            </tr>
            <tr>
              <td>04/19/2017</td>
              <td>Test orig dates</td>
              <td>
                <a href="#!" class="text-decoration-none"
                  ><i class="fas fa-fw fa-camera"></i
                ></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
