<div class="col-xl-6">
  <div class="panel">
    <div class="panel-header">
      <span>Licensing History</span>
      <div class="panel-menu">
        <a
          class="dropdown-toggle"
          aria-haspopup="true"
          aria-expanded="false"
          data-toggle="dropdown"
        >
          <i class="fas fa-ellipsis-v"></i>
        </a>
        <div
          class="dropdown-menu dropdown-menu-right"
          role="menu"
          aria-hidden="true"
          tabindex="-1"
        >
          <button
            type="button"
            tabindex="0"
            role="menuitem"
            class="dropdown-item"
          >
            All Licensing History
          </button>
          <button
            type="button"
            tabindex="0"
            role="menuitem"
            class="dropdown-item"
          >
            Download CSV
          </button>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <th>Exp Date</th>
            <th>Plate</th>
            <th>State</th>
            <th>Title</th>
            <th>Status</th>
            <th>Needs</th>
          </thead>
          <tbody>
            <tr>
              <td>03/31/2018</td>
              <td>V250171</td>
              <td>IL</td>
              <td>14086696019</td>
              <td><span class="badge badge-info">TITLE</span></td>
              <td><a href="#">Click for Needs</a></td>
            </tr>
            <tr>
              <td>03/31/2017</td>
              <td>V250171</td>
              <td>IL</td>
              <td>14086696019</td>
              <td><span class="badge badge-success">COMPLETED</span></td>
              <td><a href="#">Click for Needs</a></td>
            </tr>
            <tr>
              <td>03/31/2016</td>
              <td>V250171</td>
              <td>IL</td>
              <td>14086696019</td>
              <td><span class="badge badge-success">COMPLETED</span></td>
              <td><a href="#">Click for Needs</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
