<div class="col-xl-6 pt-3 pt-xl-0" data-aos="fade-down" data-aos-delay="200">
  <div class="panel">
    <div class="panel-header">
      <span>Licensing History</span>
      <div class="panel-menu">
        <a
          class="dropdown-toggle"
          aria-haspopup="true"
          aria-expanded="false"
          data-toggle="dropdown"
        >
          <i class="fas fa-ellipsis-v"></i>
        </a>
        <div
          class="dropdown-menu dropdown-menu-right"
          role="menu"
          aria-hidden="true"
          tabindex="-1"
        >
          <button
            type="button"
            tabindex="0"
            role="menuitem"
            class="dropdown-item"
          >
            All Licensing History
          </button>
          <button
            type="button"
            tabindex="0"
            role="menuitem"
            class="dropdown-item"
          >
            Download CSV
          </button>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <table class="table" id="LicensingSummary" style="width:100%;">
        <thead>
          <th>Exp Date</th>
          <th>Plate</th>
          <th>State</th>
          <th>Title</th>
          <th>Status</th>
          <th>Needs</th>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
</div>
