// #wrapper {
//   display: flex;
//   width: 100%;
//   align-items: stretch;
//   perspective: 1500px;
// }

// main#content {
//   //@extend .container-fluid;
//   width: 100%;
//   padding: 20px;
//   min-height: 100vh;
//   transition: all 0.3s;
// }

#wrapper {
  height: 100vh;
}

main.content {
  @extend .pb-4;
  position: relative;
  top: $sidebar-header-height;
  padding-left: 0;
  transition: padding-left $sidebar-transition;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  z-index: 1398;
  //transition: opacity $sidebar-transition;
  //-webkit-transition: opacity $sidebar-transition;

  &.active {
    transition: opacity $sidebar-transition !important;
    -webkit-transition: opacity $sidebar-transition !important;
    display: block !important;
    opacity: 1;
  }
}

// swal needs to take priority over the overlay frame so it doesn't dim when the sidebar is open
.swal2-container {
  z-index: $swal-z-index !important;
}
